{% extends "base/base.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block body %}

{% comment %} header  {% endcomment %}

{% include "base/profile-header.html" %}
{% include "base/sidebar.html" %}

<!-- Create New Button -->
<div class="create-new-button"><a class="shadow-lg btn btn-warning" href="create-new.html" data-bs-toggle="tooltip" data-bs-placement="left" title="Create New NFT"><i class="fz-18 bi bi-plus-lg"></i></a></div>
<div class="admin-wrapper">
  <div class="container">
    <h5 class="mb-3">Your collections</h5>
    <div class="row g-4">
    {% for img in imgs %}
      <!-- Catagory Card -->
      <div class="col-12 col-md-6 col-xxl-4">
        <div class="catagory-card card shadow-sm">
          <div class="card-body">
            <div class="row g-1">
              <div class="col-12"><img class="rounded" src="{{ img.image.url }}" alt="{{ img.sku }}"></div>
          
            </div>
            <div class="row mt-3">
              <div class="col-7">
                <h5 class="mb-0">Votes<span class="badge bg-primary ms-2">{{ img.votes.count }}</span></h5>
              </div>
              <div class="col-5 text-end"><a class="btn btn-minimal hover-primary" href="/image/{{ img.sku }}">View Details<i class="ms-1 fz-14 bi bi-arrow-right"></i></a></div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

{% comment %} footer {% endcomment %}

{% include "base/footer.html"%}

{% endblock %}