{% extends "base/base.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block body %}

{% comment %} header  {% endcomment %}

{% include "base/header.html" %}

<!-- Breadcrumb -->
<div class="breadcrumb-wrapper">
    <div class="container">
      <div class="breadcrumb-content">
        <h2 class="breadcrumb-title">Contact</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <!-- Contact Wrapper -->
  <div class="contact-wrapper">
    <div class="container">
      <div class="row g-5 align-items-center">
        <!-- Contact Form -->
        <div class="col-12 col-lg-6">
          <div class="contact-form">
            <h1 class="mb-3">Let's talk about <br> all things!</h1>
            <p class="mb-5">Write to us or give us a call. We will reply to you as soon as possible. But yes, it can take up to 24 hours.</p>
            <form action="/" method="POST">
              {% csrf_token %}
              <div class="row g-4">
                <div class="col-12">
                  <input class="form-control" id="name" type="text" placeholder="Full Name" value="" name="name" required>
                </div>
                <div class="col-12">
                  <input class="form-control" id="email" type="email" placeholder="Email Address" name="email" value="" required>
                </div>
                <div class="col-12">
                  <input class="form-control" id="topics" type="text" placeholder="Questions" name="topics" value="">
                </div>
                <div class="col-12">
                  <textarea class="form-control" id="message" name="message" placeholder="Write in details"></textarea>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary rounded-pill" type="submit">Send now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Google Maps -->
        <div class="col-12 col-lg-6">
          <div class="maps-wrap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14047.882048906753!2d-0.14268817855593444!3d51.50701170390822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C%20UK!5e0!3m2!1sen!2sbd!4v1570696571917!5m2!1sen!2sbd" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>

{% comment %} footer {% endcomment %}

{% include "base/footer.html"%}

{% endblock %}