{% extends "base/base.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block body %}

{% comment %} header  {% endcomment %}

{% include "base/header.html" %}

<!-- Breadcrumb -->
<div class="breadcrumb-wrapper">
    <div class="container">
      <div class="breadcrumb-content">
        <h2 class="breadcrumb-title">Event Details</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Event Details</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <!-- Share Modal -->
  <div class="share-modal modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-4 text-center">
          <h4 class="mb-4" id="shareModalLabel">Share this Event</h4>
          <div class="d-flex align-items-center justify-content-center"><a class="mx-2" href="#"><img src="/media/eventQR/{{ event.sku }}.jpg" alt="{{ event.sku }}"></a></div>
          <button class="btn btn-danger btn-sm rounded-pill mt-4" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="me-1 bi bi-x-lg"></i>Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Copy Link Modal -->
  <div class="share-modal modal fade" id="copylinkModal" tabindex="-1" aria-labelledby="copylinkLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-4 text-center">
          <h4 class="mb-4" id="copylinkLabel">Copy Event link</h4>
          <p class="user-select-all mb-0 border border-2 p-3 rounded">{{ request.META.HTTP_HOST }}/event/{{ event.sku }}</p>
          <button class="btn btn-danger btn-sm rounded-pill mt-4" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="me-1 bi bi-x-lg"></i>Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Report Modal -->
  
  <!-- Item Details -->
  <div class="item-details-wrap">
    <div class="container">
      <div class="row g-4 g-lg-5 justify-content-center">
        <div class="col-12 col-md-12 col-lg-6">
          <div class="item-big-thumb"><img src="{{ event.image.url }}" alt="" data-action="zoom"></div>
        </div>
        <!-- Item Details Content -->
        <div class="col-12 col-md-9 col-lg-6">
          <div class="item-details-content mt-5 mt-lg-0">
            <div class="dropdown item-details-dd">
              <button class="dropdown-toggle" id="dwd987" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
              <!-- Dropdown Menu -->
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dwd987">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="me-1 bi bi-share"></i>Share</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#copylinkModal"><i class="me-1 bi bi-box-arrow-up-right"></i>Copy Link</a></li>
              </ul>
            </div>
            
            <div class="d-flex align-items-center mb-4">
              <div class="author-img position-relative me-3"><img class="shadow" src="{{ event.image.url }}" alt=""><i class="bi bi-check position-absolute bg-primary"></i></div>
              <div class="name-author"><span class="d-block fz-14"><h2 class="my-3">{{ event.title }}</h2></div>
            </div>
            <div class="border-top w-75 mb-4"></div>
            <!-- Bid End -->
            <p class="lh-1">Event ending soon</p>
            <div class="bid-ends mb-4" data-date="{{ event.endTime|date:"m d, Y H:i:s" }}">
              <div><span class="days"></span><span>Days</span></div>
              <div><span class="hours"></span><span>Hours</span></div>
              <div><span class="minutes"></span><span>Min</span></div>
              <div><span class="seconds"></span><span>Sec</span></div>
            </div>
            <div class="row align-items-end">
              {% comment %} <div class="col-6 col-sm-4">
                <p class="mb-2">Upload and Vote</p>
                <h5 class="text-center mb-0 border border-2 px-3 py-2 border-primary d-inline-block rounded text-primary w-100" style="cursor: pointer;"><a class="btn btn-primary rounded-pill w-100" href="/gallary/{{ event.sku }}"><img class="me-1" src="{% static 'img/core-img/fire.png' %}" alt="">Upload</a></h5>
              </div> {% endcomment %}
              
              {% if event.status.name == "Live" %}
              <div class="col-6 col-sm-4 col-lg-5"><p class="ml-2">Upload and Explore</p><a class="btn btn-warning rounded-pill w-100" href="/upload/{{ event.sku }}">Upload</a></div>
              {% endif %}
              <div class="col-6 col-sm-4 col-lg-5"><a class="btn btn-primary rounded-pill w-100" href="/gallary/{{ event.sku }}">Explore Galary</a></div>
            </div>
            <div class="border-top w-75 my-4"></div>
            <div class="short-description">
              <h5>Description</h5>
              <p class="mb-0">{{ event.desc }}</p>
            </div>
            <div class="border-top w-75 my-4"></div>
            <div class="short-description">
              <h5>Share:</h5>
              <img src="/media/eventQR/{{ event.sku }}.jpg" alt="{{ event.sku }}" height="240px" width="240px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block w-100 mb-70"></div>
  <div class="container">
    <div class="table-responsive border shadow-sm activity-table mb-70">
      <table class="table mb-0">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Author</th>
       
            <th scope="col">Votes</th>
          </tr>
        </thead>
        <tbody>
          {% for img in imgs %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td> <span class="d-inline-block fw-bold fz-14">{{ img.user.username }}</span></td>
          
            <td>{{ img.votes.count }}</td>
            {% comment %} <td><a class="btn btn-primary rounded-pill w-100" href="/image/{{ img.sku }}">View</a></td> {% endcomment %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="divider"></div>
  

{% comment %} footer {% endcomment %}

{% include "base/footer.html"%}

{% endblock %}