{% extends "base/base.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block body %}

{% comment %} header  {% endcomment %}

{% include "base/header.html" %}

<!-- Breadcrumb -->
<div class="breadcrumb-wrapper">
    <div class="container">
      <div class="breadcrumb-content">
        <h2 class="breadcrumb-title">Verification Center</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Verification</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <!-- Newsletter -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7">
        <div class="newsletter-card card shadow">
          <div class="card-body p-4 p-sm-5">
            <div class="text-center">
              <h2>Verify your phone number to continue</h2>
              <p class="mb-5">Check your phone number ({{ phone }}) to enter the verification code below.</p>
              {% if error %}
              <h5 class="text-danger">{{ error }}</h5>
              {% endif %}
            </div>
            <form method="POST">
                {% csrf_token %}
              <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                  <input class="form-control" type="text" placeholder="Verification Code" name="code" aria-describedby="mailHelp"><small class="text-muted text-start" id="mailHelp"><i class="bi bi-lock me-1"></i>Don't share your verification code with anyone else. </small>
                  <button class="btn btn-primary w-100 mt-4 rounded-pill" type="submit">Verify</button>
                  <a class="btn btn-warning w-100 mt-4 rounded-pill" href="/resend">Resend Code</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
{% comment %} footer {% endcomment %}

{% include "base/footer.html"%}

{% endblock %}